<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
<!--<context:component-scan base-package="org.example"/>-->
<!--    <bean name="menuController" class="org.example.controller.MenuController" init-method="after" scope="singleton">-->
<!--        <property name="profileService" ref="profileService"/>-->
<!--    </bean>-->

<!--    <bean name="userController" class="org.example.controller.UserController">-->
<!--        <constructor-arg ref="userService"/>-->
<!--        <constructor-arg ref="transactionService"/>-->
<!--    </bean>-->

<!--    <bean name="adminController" class="org.example.controller.AdminController">-->
<!--        <property name="adminService" ref="adminService"/>-->
<!--        <property name="terminalService" ref="terminalService"/>-->
<!--        <property name="transactionService" ref="transactionService"/>-->
<!--    </bean>-->

<!--    <bean name="profileService" class="org.example.service.ProfileService">-->
<!--    <constructor-arg ref="profileRepo"/>-->
<!--        <constructor-arg ref="userController"/>-->
<!--        <constructor-arg ref="adminController"/>-->
<!--    </bean>-->

<!--    <bean name="adminService" class="org.example.service.AdminService">-->
<!--        <property name="adminRepo" ref="adminRepo"/>-->
<!--        <property name="userRepo" ref="userRepo"/>-->
<!--        <property name="transactionRepo" ref="transactionRepo"/>-->
<!--    </bean>-->

<!--    <bean name="userService" class="org.example.service.UserService">-->
<!--        <constructor-arg ref="userRepo"/>-->
<!--    </bean>-->
<!--    <bean name="transactionService" class="org.example.service.TransactionService">-->
<!--        <property name="adminService" ref="adminService"/>-->
<!--        <property name="userRepo" ref="userRepo"/>-->
<!--        <property name="transactionRepo" ref="transactionRepo"/>-->
<!--        <property name="adminRepo" ref="adminRepo"/>-->
<!--        <property name="terminalRepo" ref="terminalRepo"/>-->
<!--        <property name="checkValidationUtil" ref="checkValidationUtil"/>-->
<!--    </bean>-->
<!--    <bean name="terminalService" class="org.example.service.TerminalService">-->
<!--        <constructor-arg ref="terminalRepo"/>-->
<!--    </bean>-->

<!--    <bean name="profileRepo" class="org.example.repository.ProfileRepo"/>-->
<!--    <bean name="adminRepo" class="org.example.repository.AdminRepo"/>-->
<!--    <bean name="userRepo" class="org.example.repository.UserRepo"/>-->
<!--    <bean name="transactionRepo" class="org.example.repository.TransactionRepo"/>-->
<!--    <bean name="terminalRepo" class="org.example.repository.TerminalRepo"/>-->

<!--    <bean name="dbInit" class="org.example.dbInit.DBInit">-->
<!--        <property name="adminRepo" ref="adminRepo"/>-->
<!--        <property name="profileRepo" ref="profileRepo"/>-->
<!--        <property name="userRepo" ref="userRepo"/>-->
<!--    </bean>-->
<!--    <bean name="checkValidationUtil" class="org.example.util.CheckValidationUtil">-->
<!--        <property name="terminalRepo" ref="terminalRepo"/>-->
<!--        <property name="userRepo" ref="userRepo"/>-->
<!--    </bean>-->
</beans>



